<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Clientes</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button (click)="saveShowBtn()" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i
                class="far fa-eye"></i>New</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-warning me-2"><i class="far fa-edit"></i> Export</button>
          </li>
        </ul>
        <app-person-search></app-person-search>
      </div>
    </div>
  </nav>

  <div class="table-responsive">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Shared Key</th>
          <th scope="col">Bussines ID</th>
          <th scope="col">E-email</th>
          <th scope="col">Phone</th>
          <th scope="col">Data Added</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of persons">
          <td>{{person.sharedKey}}</td>
          <td>{{person.bussinesId}}</td>
          <td>{{person.email}}</td>
          <td>{{person.mobileNumber}}</td>
          <td>{{person.createdAt}}</td>
          <td>
            <button class="btn btn-outline-primary me-2" routerLink="/detalle/{{person.personId}}"><i class="far fa-eye"></i>Ver</button>
            <button class="btn btn-outline-warning me-2" (click)="editPerson(person)" data-bs-toggle="modal" data-bs-target="#staticBackdrop" ><i class="far fa-edit"></i>Editar</button>
            <button class="btn btn-outline-danger me-2" (click)="deletePerson(person)"><i class="far fa-edit"></i>Eliminar</button>
          
            <!--<input type="button" value="Ver"  routerLink="/detalle/{{person.personId}}" class="btn btn-danger me-2"/>
            <input type="button" value="Edit" (click)="editPerson(person)" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-success me-2"/>
            <input type="button" value="Delete" (click)="deletePerson(person)" class="btn btn-danger"/>-->
         </td>
        
        </tr>
      </tbody>
    </table>
  </div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Nuevo Cliente</h5>
                <button #myButton (click)="triggerClick()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form [formGroup]="formValue">

                    <div class="form-group">
                        <label for="SharedKey">SharedKey</label>
                        <input type="text" formControlName="sharedKey" class="form-control" id="sharedKey"
                            placeholder="Enter SharedKey" required>
                    </div>

                    <div class="form-group">
                        <label for="bussinesId">BussinesId</label>
                        <input type="text" formControlName="bussinesId" class="form-control" id="bussinesId"
                            placeholder="Enter BussinesId" required>
                    </div>

                    <div class="form-group">
                        <label for="mobileNumber">MobileNumber</label>
                        <input type="number" formControlName="mobileNumber" class="form-control" id="mobileNumber"
                            placeholder="Enter MobileNumber" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" formControlName="email" class="form-control" id="email"
                            placeholder="Enter Email" required>
                    </div>

                    <div class="form-group">
                        <label for="createdAt">star date</label>
                        <input type="date" formControlName="createdAt" class="form-control" id="createdAt"
                            placeholder="Enter createdAt" required>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <!--[disabled]="formValue.invalid"<button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>-->
                <button *ngIf="btnSaveShow"  type="button" class="btn btn-primary" (click)="addPerson()" [disabled]="formValue.invalid" >Register</button>
                <button *ngIf="btnUpdateShow" type="button" class="btn btn-primary"  (click)="updatePerson()">Update</button>
            </div>
        </div>
    </div>
</div>